@import url('https://fonts.googleapis.com/css3?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--background-color: #C1BFB5;
	--sidebar-background-color: #FEFDFF;
	--test-color: #424242;
	--t: #1f1f1f;

	--container-padding: 1.5%;
	--icon-color: #8EB1C7;
	--some-color: #EB4511;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Poppins", 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 3fr;
	padding: var(--container-padding);
	background-color: black;
	gap:20px;
	color: white;
	overflow: hidden;
}

/* Sidebar */

.sidebar {
	display: grid;
	grid-template-rows: max-content auto;
	border-radius: 10px;
}

.sidebar-content {
	position: relative;
	padding: 20px;
	border: 1px solid black;;
	border-radius: 10px;
	background-color: var(--t);
}

.title-bar {
	display: flex;
	border: 1px solid black;;
	border-radius: 10px;
	background-color: var(--test-color);
	justify-content: space-between;
	align-items: center;
	padding: 1.2em;
	margin-bottom: 16px;
}



.title-bar label {
	display: inline-flex;
}

.title-bar i {
	margin-right: 5px;
}

.chatbox{
	display: flex;
	align-items: center;
	padding: 1.2em 0 1.2em 0;
	background-color: var(--test-color);
	border-radius: 8px;
	margin-bottom: 30px;
	color: white;
	cursor: pointer;
}
.chatbox:hover {
	background-color: var(--sidebar-background-color);
}

.chatbox i {
	margin: 0 7px 0 14px;
	color: var(--icon-color);
}

.sidebar-content button {
	position: absolute;
	width: 85%;
	bottom: 20px;
	padding: 12px;
	cursor: pointer;
	background-color: var(--icon-color);
	color: black;
	border: none;
	border-radius: 10px;
}

/* Main Content*/

.mainpage {
	padding: 10px;
	border-radius: 10px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2em 1.2em 1.2em 0;
}

.content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-box {
	width: 500px;
	height: 350px;
	background-color: var(--t);
	border-radius: 20px;
}

.prompt-box {
	display: flex;
	gap: 4px;
}
